@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400..700&family=Inter:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500;600&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-family:"Inter", 'segoe UI', Tahoma, Geneva, Verdana,sans-serif;
    line-height:25px;
}
body{
    background: linear-gradient(120deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: #edf2ed;
    min-height: 100vh;
    display:grid;
    grid-template-columns: 250px 1fr;
}
#sidebar{
    background-color: #101410;
    width:250px;
    height:100vh;
    padding:20px 14px;
    border-right:1px solid #29312b;
    position:sticky;
    align-self:start;
    display:flex;
    flex-direction:column;
    top: 12px;;
    border-radius:15px;
    margin: 12px;
}
#sidebar ul{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:10px;
}
#sidebar li{
    margin-bottom:5px;
}
#sidebar a{
    min-height: 51px;
    display:flex;
    align-items:center;
    padding:0 14px;
    color:#8f9b91;
    font-size:18px;
    font-weight:500;
    text-decoration:none;
    border-radius:10px;

}
#sidebar a:hover{
    background-color: #1a201b;
    color: #edf2ed;
}
#sidebar li.active a{
    background-color: #1a201b;
    color: #8bcf72;
}
.project{
    display:flex;
    align-items:center;
    padding:4 12px 25px;
    color:#edf2ed;
    font-size:25px;
    font-weight:700;
    margin-bottom:16px;
    font-family: 'Fraunces', serif;
    border-bottom:1px solid #29312b;
    padding-bottom:32px;
}
main{
    width:100%;
    padding:40px;
}
h1{
    font-family: 'Fraunces', serif;
    font-size:60px;
    font-weight:700;
    margin-bottom:20px;
    text-align:center;
}
h2{
    font-size:40px;
    margin-bottom:50px;
    margin-top:50px;
    color:#8f9b91;
    border-bottom:1px solid #29312b;
    padding-bottom:10px;
    text-align:center;
}
h3{
    font-size:30px;
    margin-bottom:20px;
    color:#8f9b91;
    display:flex;
    align-items:center;
    gap:13px;
    font-weight:600;
    letter-spacing:1.5px;
}
section{
    margin-bottom:40px;
}
.sensor-data{
    display:grid;
    grid-template-columns: repeat(4, minmax(190px, 1fr));
    gap:15px;
}
.sensor{
    min-height: 250px;
    padding:20px;
    background-color: #1a201b;
    border: 1px solid #29312b;
    position:relative;
    display:flex;
    flex-direction:column;
    border-radius:15px;
}
.sensor:hover{
    transform: translateY(-5px);
    border-color: #374d3b;
    background-color: #29312b;
    border-radius:15px;
}
.sensor-name{
    font-size:15px;
    color:#8f9b91;
    font-weight:550;
    margin-bottom:15px;
    width:100%;
}
.sensor-value{
    font-size:30px;
    font-weight:600;
    color:#edf2ed;
    margin-bottom:15px;
    width:150px;
    height:150px;
    margin-top:5px;
    position:relative;
    display:flex;
    border-radius:50%;
    align-items:center;
    justify-content:center;
    background-color: #101410;
}
.sensor-text{
    position:relative;
    display:flex;
    align-items:baseline;
    gap:5px;
    font-size:30px;
    color:#8f9b91;
    font-weight:600;
    margin-bottom:15px;
}
.actuators-buttons{
    display:grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap:13px;
}
.actuators-buttons >div{
    min-height: 180px;
    padding:35px;
    background-color: #1a201b;
    border: 1px solid #29312b;
    position:relative;
    display:flex;
    flex-direction:column;
    border-radius:15px;
    gap:15px;
    justify-content:space-between;
}
.actuators-buttons >div:hover{
    transform: translateY(-5px);
    border-color: #374d3b;
    background-color: #29312b;
    border-radius:15px;
}
.actuator-section{
    font-size:25px;
    color:#8f9b91;
    font-weight:650;
    align-items:center;
}
.button-action{
    padding:10px 15px;
    background-color: #101410;
    color:#8f9b91;
    font-size:15px;
    font-weight:600;
    border: 1px solid #29312b;
    border-radius:5px;
    cursor:pointer;
    width:100%;
    height:40px;
}
.button-action:hover{
    background-color:#8bcf72;
    color:#101410;
    border-color:#8bcf72;
}
main{
    padding:48px 58px;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    gap:25px;
    align-items:center;
}
main h1{
    font-family: 'Fraunces', serif;
    font-size:48px;
    font-weight:700;
    color:#8bcf72;
    letter-spacing:1.5px;
}
main iframe{
    width:100%;
    height:100%;
    border:none;
    border-radius:15px;
    align-self:center;
    border: 1px solid #29312b;
    background-color: #1a201b;
}
